@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h2>Client Restaurants</h2>


<table class="table" id="restaurants">
     <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">Cuisine</th>
        </tr>
  </thead>

</table>


@section Scripts {
    <environment include="Development">
        <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/node_modules/datatables.net-bs/js/dataTables.bootstrap.js"></script>
        <link href="~/node_modules/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        @*script che vengono caricati solo quando si visita questa pagina e quando sono in ambiente di produzione*@
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
    </environment>

    @*sarebbe meglio fare un file js a parte*@
    <script> 
        //chiamata ajax ad un api endpoint che ho creato con il backend
        $(function () {
            //è possibile fare una chiamamata Api anzichè costruire l'array
            var cuisines = ["Unknow", "Mexican", "Italian", "Indian"]

            $.ajax("/api/restaurants/", 
                    { method: "get"})
                    .then(function (response) {
                        $("#restaurants").dataTable({
                            data: response,
                            columns: [
                                {"data" : "name"},
                                {"data" : "location"},
                                {"data" : "cuisine", "render" : function(data) {
                                        return cuisines[data];
                                    }
                                }
                            ]
                        })
                    })
        });

    </script>
}
