@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h2>Client Restaurants</h2>

@section Scripts {
    <environment include="Development">


    </environment>
    <environment exclude="Development">
        @*script che vengono caricati solo quando si visita questa pagina e quando sono in ambiente di produzione*@
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
    </environment>

    @*sarebbe meglio fare un file js a parte*@
    <script> 
        //chiamata ajax ad un api endpoint che ho creato con il backend
        $(function () {
            $.ajax("/api/restaurants/", 
                    { method: "get"})
                    .then(function (response) {
                        console.dir(response);
                    })
        });

    </script>
}
